<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mentorfy - Plataforma de mentoria para desenvolvedores">
    <link rel="icon" href="/static/logo.png">
    <title>Mentorfy - {% block title %}{% endblock title %}</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    {% block 'head' %}{% endblock 'head' %}
</head>
<body>
    {% block 'body' %}{% endblock 'body' %}
</body>
</html>